################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/grafika1/v17
/.vs
/source/GrafikaHaziCsomag/Programs/Skeleton/.vs/Skeleton/FileContentIndex/33695004-f36b-48f3-8870-b8003dbd56e2.vsidx
*.vsidx
*.vsidx
*.ipch
/source/GrafikaHaziCsomag/Programs/Skeleton/.vs/Skeleton/v17/ipch/AutoPCH/db4008fad9eae72c/SKELETON.ipch
/source/GrafikaHaziCsomag/Programs/Skeleton/.vs/Skeleton/FileContentIndex/1a62f566-d663-4545-928b-6d6b96b4944a.vsidx
